

body
{
padding:1cm;
}

h1
{
font-family:Verdana, Arial;
font-size:20px;
}

h3
{
font-family:Verdana, Arial;
font-size:16px;
}

p, li
{
font-family:Verdana, Arial;
text-align:justify;
font-size:14px;
}

small
{
font-family:Verdana, Arial;
text-align:justify;
font-size:12px;
font-weight:bold;
}

table, th, td
{
border-style:solid;
border-width:1px;
border-collapse:collapse;
padding:12px;
}


hr
{
color: #555;
background-color:#555;
border:0px none;
height:1px;
clear:both;
}

a:link
{
text-decoration:none;
color:blue;
}

a:visited
{
text-decoration:none;
color:blue;
}

a:hover
{
text-decoration:none;
color:red;
}